.program__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 822px) {
  .program__container {
    align-items: flex-end;
  }
}

.title {
  font-family: Caveat Brush, sans-serif;
  font-size: 24px;
  line-height: 2.71;
  color: #2e2520;
}

@media screen and (max-width: 634.98px) {
  .title {
    text-align: center;
  }
}

@media screen and (min-width: 822px) {
  .title {
    font-size: 36px;
    line-height: 1.81;
  }
}

.program__list {
  margin-bottom: 10px;
}

@media screen and (max-width: 634.98px) {
  .program__grid:last-child {
    margin-top: 30px;
  }
}

@media screen and (min-width: 635px) {
  .program__grid {
    width: calc(100% / 6 * 3);
  }
}

@media screen and (min-width: 822px) {
  .program__grid {
    width: calc(100% / 8.5 * 4);
  }
}

.program-benefits__title {
  margin: 0;
  font-size: 18px;
  line-height: 1.28;
  color: #000000;
}

@media screen and (min-width: 822px) {
  .program-benefits__title {
    font-size: 24px;
    line-height: 1.25;
  }
}

.program__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 822px) {
  .program__item {
    font-size: 18px;
    line-height: 1.22;
  }
}

.program__button {
  margin-bottom: 30px;
  border: none;
  font-family: Caveat Brush, sans-serif;
  font-size: 18px;
  line-height: 3.61;
  color: #ab816c;
  background: none;
}

@media screen and (min-width: 822px) {
  .program__button {
    display: none;
  }
}

.button-read {
  display: none;
}

.is-open .button-read {
  display: block;
}

.is-open .button-less {
  display: none;
}

.program-benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -6px;
  margin-top: -60px;
}

@media screen and (min-width: 480px) {
  .program-benefits__list {
    margin-left: -15px;
    margin-top: -60px;
  }
}

@media screen and (min-width: 822px) {
  .program-benefits__list {
    margin-left: -30px;
    margin-top: -60px;
  }
}

.program-benefits__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 6px;
  margin-top: 60px;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  background-color: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

@media screen and (min-width: 480px) {
  .program-benefits__item {
    flex-basis: calc((100% - 30px * 1) / 2);
    margin-left: 15px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 822px) {
  .program-benefits__item {
    flex-basis: calc((100% - 30px * 2) / 2);
    width: 180px;
    height: 180px;
    margin-left: 30px;
    margin-top: 60px;
  }
}

.program-benefits__item:nth-child(odd) {
  transform: translateY(-30px);
}

.program-benefits__item:nth-child(even) {
  transform: translateY(30px);
}

.program-benefits__img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.program-benefits__note {
  margin-top: 13px;
  margin-bottom: 13px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 821.98px) {
  .program-benefits__note {
    font-size: 14px;
    line-height: 1.21;
  }
}

.icon {
  margin-bottom: 9px;
  width: 25px;
  height: 20px;
  fill: #674d40;
}

@media screen and (min-width: 822px) {
  .icon {
    width: 31px;
    height: 25px;
  }
}
/*# sourceMappingURL=program.css.map */
