.button {
  width: 145px;
  height: 40px;
  font-family: Caveat Brush, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #ab816c;
  border-radius: 25px;
  margin-bottom: 32px;
}
